@font-face {
  font-family: 'MADE TOMMY:Regular';
  src: local('MADE TOMMY Regular'), local('MADE-TOMMY-Regular');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MADE TOMMY:Medium';
  src: local('MADE TOMMY Medium'), local('MADE-TOMMY-Medium');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MADE TOMMY:Light';
  src: local('MADE TOMMY Light'), local('MADE-TOMMY-Light');
  font-weight: 300;
  font-style: normal;
}
