@import "Css/kernel.css";
@import "Css/util.css";
@import "Css/key.css";

/* ========================================================================== */

/*  Background Utility Classes */
/* Neutral + Surface Backgrounds */
.bg-strong {
  background-color: var(--color-bg-strong-950);
}
.bg-surface {
  background-color: var(--color-bg-surface-800);
}
.bg-sub {
  background-color: var(--color-bg-sub-300);
}
.bg-soft {
  background-color: var(--color-bg-soft-200);
}
.bg-weak {
  background-color: var(--color-bg-weak-50);
}
.bg-white {
  background-color: var(--color-bg-white-0);
}

/* Primary */
.bg-primary {
  background-color: var(--color-primary-base);
}
.bg-primary-dark {
  background-color: var(--color-primary-dark);
}
.bg-primary-darker {
  background-color: var(--color-primary-darker);
}
.bg-primary-alpha-10 {
  background-color: var(--color-primary-alpha-10);
}
.bg-primary-alpha-16 {
  background-color: var(--color-primary-alpha-16);
}
.bg-primary-alpha-24 {
  background-color: var(--color-primary-alpha-24);
}

/* Background Semantic */
.bg-success-base {
  background-color: var(--color-success-base);
}
.bg-success-dark {
  background-color: var(--color-success-dark);
}
.bg-success-light {
  background-color: var(--color-success-light);
}
.bg-success-lighter {
  background-color: var(--color-success-lighter);
}

.bg-error-base {
  background-color: var(--color-error-base);
}
.bg-error-dark {
  background-color: var(--color-error-dark);
}
.bg-error-light {
  background-color: var(--color-error-light);
}
.bg-error-lighter {
  background-color: var(--color-error-lighter);
}

.bg-warning-base {
  background-color: var(--color-warning-base);
}
.bg-warning-dark {
  background-color: var(--color-warning-dark);
}
.bg-warning-light {
  background-color: var(--color-warning-light);
}
.bg-warning-lighter {
  background-color: var(--color-warning-lighter);
}

.bg-info-base {
  background-color: var(--color-information-base);
}
.bg-info-dark {
  background-color: var(--color-information-dark);
}
.bg-info-light {
  background-color: var(--color-information-light);
}
.bg-info-lighter {
  background-color: var(--color-information-lighter);
}

/* Overlays */
.bg-overlay {
  background-color: var(--color-overlay);
}
.bg-overlay-gray {
  background-color: var(--color-overlay-gray);
}
.bg-overlay-slate {
  background-color: var(--color-overlay-slate);
}

/* Neutral Text */
.text-strong {
  color: var(--color-text-strong-950);
}
.text-sub {
  color: var(--color-text-sub-600);
}
.text-soft {
  color: var(--color-text-soft-400);
}
.text-disabled {
  color: var(--color-text-disabled-300);
}
.text-white {
  color: var(--color-text-white-0);
}

/* Primary */
.text-primary-base {
  color: var(--color-primary-base);
}
.text-primary-dark {
  color: var(--color-primary-dark);
}
.text-primary-darker {
  color: var(--color-primary-darker);
}

/* Text Semantic */
.text-success-base {
  color: var(--color-success-base);
}
.text-success-dark {
  color: var(--color-success-dark);
}
.text-success-light {
  color: var(--color-success-light);
}
.text-success-lighter {
  color: var(--color-success-lighter);
}

.text-error-base {
  color: var(--color-error-base);
}
.text-error-dark {
  color: var(--color-error-dark);
}
.text-error-light {
  color: var(--color-error-light);
}
.text-error-lighter {
  color: var(--color-error-lighter);
}

.text-warning-base {
  color: var(--color-warning-base);
}
.text-warning-dark {
  color: var(--color-warning-dark);
}
.text-warning-light {
  color: var(--color-warning-light);
}
.text-warning-lighter {
  color: var(--color-warning-lighter);
}

.text-info-base {
  color: var(--color-information-base);
}
.text-info-dark {
  color: var(--color-information-dark);
}
.text-info-light {
  color: var(--color-information-light);
}
.text-info-lighter {
  color: var(--color-information-lighter);
}

/* Stroke */

.divider-h {
  height: 1px;
  background-color: currentColor;
}

.divider-v {
  width: 1px;
  background-color: currentColor;
  align-self: stretch;
}

.divider-white {
  background-color: var(--color-stroke-white-0);
}
.divider-soft {
  background-color: var(--color-stroke-soft-200);
}
.divider-sub {
  background-color: var(--color-stroke-sub-300);
}
.divider-strong {
  background-color: var(--color-stroke-strong-950);
}

.border-strong {
  border: 1px solid var(--color-stroke-strong-950);
  border-color: var(--color-stroke-strong-950);
}
.border-sub {
  border: 1px solid var(--color-stroke-sub-300);
  border-color: var(--color-stroke-sub-300);
}
.border-soft {
  border: 1px solid var(--color-stroke-soft-200);
  border-color: var(--color-stroke-soft-200);
}
.border-white {
  border: 1px solid var(--color-stroke-white-0);
  border-color: var(--color-stroke-white-0);
}
.border-none {
  border: 1px solid transparent;
  border-color: transparent;
}

.border-primary {
  border-color: var(--color-primary-base);
}

.border-success {
  border-color: var(--color-success-base);
}
.border-error {
  border-color: var(--color-error-base);
}
.border-warning {
  border-color: var(--color-warning-base);
}
.border-info {
  border-color: var(--color-information-base);
}

/* Inter Variable Font Family */
:root {
  --font-family-heading: "Inter Variable", sans-serif;
}

/* Headings */
.h1 {
  font-family: var(--font-family-heading);
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  font-weight: 550;
}
.h2 {
  font-family: var(--font-family-heading);
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.01em;
  font-weight: 550;
}
.h3 {
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.01em;
  font-weight: 550;
}
.h4 {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.005em;
  font-weight: 550;
}
.h5 {
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0em;
  font-weight: 550;
}
.h6 {
  font-family: var(--font-family-heading);
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0em;
  font-weight: 550;
}

/* Font Family */
:root {
  --font-family: "Inter", sans-serif;
}

/* Labels */
.text-label-xl {
  font-family: var(--font-family);
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  font-weight: 500;
}

.text-label-lg {
  font-family: var(--font-family);
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.015em;
  font-weight: 500;
}

.text-label-md {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.011em;
  font-weight: 500;
}

.text-label-sm {
  font-family: var(--font-family);
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.006em;
  font-weight: 500;
}

.text-label-compact {
  font-family: var(--font-family);
  font-size: 0.813rem;
  line-height: 1.25rem;
  letter-spacing: -0.003em;
  font-weight: 500;
}

.text-label-xs {
  font-family: var(--font-family);
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0em;
  font-weight: 500;
}

/* Paragraphs */
.text-paragraph-xl {
  font-family: var(--font-family);
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  font-weight: 400;
}

.text-paragraph-lg {
  font-family: var(--font-family);
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.015em;
  font-weight: 400;
}

.text-paragraph-md {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.011em;
  font-weight: 400;
}

.text-paragraph-sm {
  font-family: var(--font-family);
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.006em;
  font-weight: 400;
}

.text-paragraph-compact {
  font-family: var(--font-family);
  font-size: 0.813rem;
  line-height: 1.25rem;
  letter-spacing: -0.003em;
  font-weight: 400;
}

.text-paragraph-xs {
  font-family: var(--font-family);
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0em;
  font-weight: 400;
}

/* Subheadings */
.text-subheading-md {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.06em;
  font-weight: 500;
}

.text-subheading-sm {
  font-family: var(--font-family);
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.06em;
  font-weight: 500;
}

.text-subheading-xs {
  font-family: var(--font-family);
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.text-subheading-2xs {
  font-family: var(--font-family);
  font-size: 0.6875rem;
  line-height: 0.75rem;
  letter-spacing: 0.02em;
  font-weight: 500;
}

/* Documentation */
.text-doc-label {
  font-family: var(--font-family);
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  font-weight: 500;
}

.text-doc-paragraph {
  font-family: var(--font-family);
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  font-weight: 400;
}

/*  Display Utility Classes */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.grid {
  display: grid;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.hidden {
  display: none;
}

/* Direction */
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

/* Alignment */
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-stretch {
  align-items: stretch;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

/* TEXT DECORATION */
.text-underline {
  text-decoration: underline;
}
.text-line-through {
  text-decoration: line-through;
}
.text-no-underline {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-italic {
  font-style: italic;
}
.text-normal {
  font-style: normal;
}

.font-thin {
  font-weight: 100;
}
.font-extra-light {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extra-bold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Flex wrap */
.flex-wrap {
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}

/*  Width/Height Utility Classes */
.w-full {
  width: 100vw;
}
.w-fill {
  width: 100%;
}
.w-flex {
  display: flex;
  flex: 1 0 0;
}
.w-hug {
  width: fit-content;
}
.w-max {
  width: max-content;
}
.h-full {
  height: 100vh;
}
.h-fill {
  height: 100%;
}
.h-flex {
  display: flex;
  flex-direction: column;
  flex: 0 0 1;
}
.h-stretch {
  height: stretch;
}

.h-hug {
  height: auto;
}
.h-max {
  height: max-content;
}

/* Margin Utilities */
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-2 {
  margin-top: var(--space-2);
}
.mt-4 {
  margin-top: var(--space-4);
}
.mt-6 {
  margin-top: var(--space-6);
}
.mt-8 {
  margin-top: var(--space-8);
}
.mt-12 {
  margin-top: var(--space-12);
}
.mt-24 {
  margin-top: var(--space-24);
}
.mr-0 {
  margin-right: 0;
}
.mr-2 {
  margin-right: var(--space-2);
}
.mr-4 {
  margin-right: var(--space-4);
}
.mr-6 {
  margin-right: var(--space-6);
}
.mr-8 {
  margin-right: var(--space-8);
}
.mr-12 {
  margin-right: var(--space-12);
}
.mr-24 {
  margin-right: var(--space-24);
}
.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: var(--space-2);
}
.mb-4 {
  margin-bottom: var(--space-4);
}
.mb-6 {
  margin-bottom: var(--space-6);
}
.mb-8 {
  margin-bottom: var(--space-8);
}
.mb-12 {
  margin-bottom: var(--space-12);
}
.mb-24 {
  margin-bottom: var(--space-24);
}
.ml-0 {
  margin-left: 0;
}
.ml-2 {
  margin-left: var(--space-2);
}
.ml-4 {
  margin-left: var(--space-4);
}
.ml-6 {
  margin-left: var(--space-6);
}
.ml-8 {
  margin-left: var(--space-8);
}
.ml-12 {
  margin-left: var(--space-12);
}
.ml-24 {
  margin-left: var(--space-24);
}
.my-8 {
  margin-block: var(--space-8);
}
.my-12 {
  margin-block: var(--space-12);
}
.my-24 {
  margin-block: var(--space-24);
}
.mx-8 {
  margin-inline: var(--space-8);
}
.mx-12 {
  margin-inline: var(--space-12);
}
.mx-24 {
  margin-inline: var(--space-24);
}
.mx-auto {
  margin-inline: auto;
}

/*  Padding Utility Classes */
.p-0 {
  padding: var(--space-0);
}
.p-2 {
  padding: var(--space-2);
}
.p-4 {
  padding: var(--space-4);
}
.p-6 {
  padding: var(--space-6);
}
.p-8 {
  padding: var(--space-8);
}
.p-10 {
  padding: var(--space-10);
}
.p-12 {
  padding: var(--space-12);
}
.p-14 {
  padding: var(--space-14);
}
.p-16 {
  padding: var(--space-16);
}
.p-20 {
  padding: var(--space-20);
}
.p-24 {
  padding: var(--space-24);
}
.p-32 {
  padding: var(--space-32);
}
.p-40 {
  padding: var(--space-40);
}
.p-44 {
  padding: var(--space-44);
}
.p-48 {
  padding: var(--space-48);
}

.py-0 {
  padding-block: var(--space-0);
}
.py-2 {
  padding-block: var(--space-2);
}
.py-4 {
  padding-block: var(--space-4);
}
.py-6 {
  padding-block: var(--space-6);
}
.py-8 {
  padding-block: var(--space-8);
}
.py-10 {
  padding-block: var(--space-10);
}
.py-12 {
  padding-block: var(--space-12);
}
.py-14 {
  padding-block: var(--space-14);
}
.py-16 {
  padding-block: var(--space-16);
}
.py-20 {
  padding-block: var(--space-20);
}
.py-24 {
  padding-block: var(--space-24);
}
.py-32 {
  padding-block: var(--space-32);
}
.py-40 {
  padding-block: var(--space-40);
}
.py-44 {
  padding-block: var(--space-44);
}
.py-48 {
  padding-block: var(--space-48);
} /* hero/sections */

.px-0 {
  padding-inline: var(--space-0);
}
.px-2 {
  padding-inline: var(--space-2);
}
.px-4 {
  padding-inline: var(--space-4);
}
.px-6 {
  padding-inline: var(--space-6);
}
.px-8 {
  padding-inline: var(--space-8);
}
.px-10 {
  padding-inline: var(--space-10);
}
.px-12 {
  padding-inline: var(--space-12);
}
.px-14 {
  padding-inline: var(--space-14);
}
.px-16 {
  padding-inline: var(--space-16);
}
.px-20 {
  padding-inline: var(--space-20);
}
.px-24 {
  padding-inline: var(--space-24);
}
.px-32 {
  padding-inline: var(--space-32);
}
.px-40 {
  padding-inline: var(--space-40);
}
.px-44 {
  padding-inline: var(--space-44);
}
.px-48 {
  padding-inline: var(--space-48);
}

/*  Spacing Utility Classes */
.gap-0 {
  gap: var(--space-0);
}
.gap-2 {
  gap: var(--space-2);
}
.gap-4 {
  gap: var(--space-4);
}
.gap-6 {
  gap: var(--space-6);
}
.gap-8 {
  gap: var(--space-8);
}
.gap-10 {
  gap: var(--space-10);
}
.gap-12 {
  gap: var(--space-12);
}
.gap-14 {
  gap: var(--space-14);
}
.gap-16 {
  gap: var(--space-16);
}
.gap-20 {
  gap: var(--space-20);
}
.gap-24 {
  gap: var(--space-24);
}
.gap-28 {
  gap: var(--space-28);
}
.gap-32 {
  gap: var(--space-32);
}
.gap-36 {
  gap: var(--space-36);
}
.gap-40 {
  gap: var(--space-40);
}
.gap-44 {
  gap: var(--space-44);
}
.gap-48 {
  gap: var(--space-48);
}

/*  Border Radius Utility Classes */
.rounded-0 {
  border-radius: var(--radius-0);
}
.rounded-2 {
  border-radius: var(--radius-2);
}
.rounded-4 {
  border-radius: var(--radius-4);
}
.rounded-6 {
  border-radius: var(--radius-6);
}
.rounded-8 {
  border-radius: var(--radius-8);
}
.rounded-10 {
  border-radius: var(--radius-10);
}
.rounded-12 {
  border-radius: var(--radius-12);
}
.rounded-14 {
  border-radius: var(--radius-14);
}
.rounded-16 {
  border-radius: var(--radius-16);
}
.rounded-20 {
  border-radius: var(--radius-20);
}
.rounded-24 {
  border-radius: var(--radius-24);
}
.rounded-28 {
  border-radius: var(--radius-28);
}
.rounded-full {
  border-radius: var(--radius-full);
}

/*  Responsive Utility Classes */
@media screen and (max-width: 480px) {
  .sm-hidden {
    display: none;
  }
  .sm-flex {
    display: flex;
  }
  .sm-grid {
    display: grid;
  }

  .sm-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .sm-grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1140px) and (min-width: 481px) {
  .md-hidden {
    display: none;
  }
  .md-flex {
    display: flex;
  }
  .md-grid {
    display: grid;
  }

  .md-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .md-grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1141px) {
  .lg-hidden {
    display: none;
  }
  .lg-flex {
    display: flex;
  }
  .lg-grid {
    display: grid;
  }

  .lg-grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .lg-grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

:root {
  --section-padding-inline: clamp(1rem, 8.78vw + 1rem, 9rem);
  --section-padding-block: clamp(2rem, 10.41vh + 1rem, 5rem);
}

@media screen and (max-width: 1140px) {
  :root {
    --section-padding-inline: var(--space-44);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --section-padding-inline: var(--space-24);
  }

  .h1 {
    font-family: var(--font-family-heading);
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.005em;
    font-weight: 550;
  }

  .h3 {
    font-family: var(--font-family-heading);
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.005em;
    font-weight: 550;
  }

  .h4 {
    font-family: var(--font-family-heading);
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0em;
    font-weight: 550;
  }
}

.section {
  padding-inline: var(--section-padding-inline);
  padding-block: var(--section-padding-block);
  width: 100%;
  background-color: var(--color-bg-white-0);
  position: relative;
}
