@import url("../../styles/fonts.css");
@import url("../../styles/tokens.css");

:root {
  --font-family: "MADE TOMMY", system-ui, -apple-system, sans-serif;
  --font-accent: "Taprom", system-ui;
}

/* Scoped to the layout wrapper */
.super_admin_layout {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 0.5rem;
  background-color: var(--bg-weak-50);
  align-items: stretch;
  justify-content: flex-start;
}

/* Sidebar Styles */
.super_admin_layout .sidebar {
  width: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-strong-950);
  align-items: stretch;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.super_admin_layout .top_section,
.super_admin_layout .buttom_section {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem;
}

.super_admin_layout .company_name_content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-bottom: 1px solid var(--bg-weak-50);
}

.super_admin_layout .company_logo {
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.super_admin_layout .company_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.super_admin_layout .top_section_title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-white-0);
}

.super_admin_layout .top_section_slogan {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--text-soft-400);
}

.expand{
  color: var(--text-soft-400);
}

.super_admin_layout .nav_contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  align-items: stretch;
  justify-content: flex-start;
}

.super_admin_layout .nav_content_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.super_admin_layout .nav_main_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: flex-start;
  padding: 0.75rem 1.25rem;
}

.super_admin_layout .nav_main_title p {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-soft-400);
}

.super_admin_layout .nav_main_links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.super_admin_layout .active_tab {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--text-strong-950);
}

.super_admin_layout .icon_title {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

.super_admin_layout .active_tab .tab-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--bg-surface-800);
  margin-right: 1rem;
  color: var(--text-white-0);
}

.super_admin_layout .active_tab .tab-link p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-white-0);
}

.super_admin_layout .active_tab .tab-link:hover {
  cursor: pointer;
}

.super_admin_layout .indicator {
  width: 0.4rem;
  height: auto;
}

.super_admin_layout .indicator img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.super_admin_layout .inactive_tab {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--text-soft-400);

}

.super_admin_layout .inactive_tab .tab-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.super_admin_layout .inactive_tab .tab-link p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-soft-400);
}

.super_admin_layout .inactive_tab .tab-link:hover {
  cursor: pointer;
  background-color: var(--bg-surface-800);
}

.super_admin_layout .user_content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid var(--bg-weak-50);
}

.super_admin_layout .avatar {
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.super_admin_layout .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.super_admin_layout .main_content {
  flex: 1;
  width: 0; /* Important for flex items to prevent overflow */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-white-0);
  overflow-y: auto; /* Allow scrolling within content area */
}

.super_admin_layout .page_title {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom: 1px solid var(--bg-weak-50);
  width: 100%;
}

.super_admin_layout .title_summary {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: flex-start;
}

.super_admin_layout .page_title_bg {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-strong-950);
}

.super_admin_layout .page_title_sm {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-soft-400);
}
