.file_dropzone {
  width: 100%;
  padding: 3rem;
  border: 2px dashed var(--stroke-sub-300);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-white-0);
  cursor: pointer;
  transition: all 0.3s ease;
}

.file_dropzone.dragging,
.file_dropzone:hover {
  border-color: var(--primary-color-500);
  background-color: var(--bg-weak-50);
}

.dropzone_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
}

.dropzone_icon {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone_icon img {
  width: 100%;
  height: 100%;
}

.dropzone_text {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-strong-950);
}

.dropzone_text strong {
  font-weight: 500;
  color: var(--primary-color-500);
}

.dropzone_hint {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--text-soft-400);
}

.browse_button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--bg-weak-50);
  color: var(--text-strong-950);
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid var(--stroke-sub-300);
  transition: all 0.2s ease;
}

.file_dropzone:hover .browse_button {
  background-color: var(--bg-white-0);
}
