.notfound_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white-0);
  overflow: hidden;
}

.notfound_content_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  row-gap: 2.5rem;
  text-align: center;
  position: relative;
  background-color: #fbfbfb;
  z-index: 1;
}

.notfound_bg_pattern {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 68rem;
  height: auto;
  z-index: -1;
  pointer-events: none;
  opacity: 0.5;
}

.notfound_bg_pattern img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.notfound_chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--stroke-soft-200);
  border-radius: 0.8rem;
}

.notfound_indicator_img {
  width: 1rem;
  height: auto;
  display: flex;
}

.notfound_chip p {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text-sub-600);
  margin: 0;
}

.Page_Not_Found_Title {
  font-size: clamp(4rem, 15vw, 6rem);
  font-weight: 400;
  color: var(--text-strong-950);
  margin: 0;
  line-height: 1;
}

.notfound_error_message {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-sub-600);
  max-width: 45ch;
  margin: 0;
}

.notfound_home_link {
  text-decoration: none;
  margin-top: 1rem;
}
