.searchBoxContainer {
  position: relative;
  flex-grow: 1;
  max-width: 30rem;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-soft-400);
  font-size: 1rem;
}

.searchInput {
  min-width: 20rem;
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--text-strong-950);
  background-color: var(--bg-white-0);
  border: 1px solid var(--stroke-sub-300);
  border-radius: 1rem;
  outline: none;
}

.searchInput:hover {
  border-color: var(--stroke-sub-400);
}

.searchInput:focus {
  border-color: var(--state-information-light);
  box-shadow: 0 0 0 1px var(--state-information-lighter);
}
