.web_nav {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--bg-white-0);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--stroke-soft-200);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav_content_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 90rem;
  align-items: center;
  justify-content: space-between;
}

.logo_link_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2.5rem;
}

.nav_logo {
  width: 8rem;
  height: auto;
  display: flex;
  align-items: center;
}

.nav_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav_links {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
}

.nav_link {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-sub-600);
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  transition: color 0.2s ease;
}

.nav_link:hover {
  color: var(--text-strong-950);
}

.nav_link .material-symbols-outlined {
  font-size: 1.25rem;
}

.nav_action_buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
}

.menu_toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-strong-950);
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .web_nav {
    padding: 1rem;
  }

  .menu_toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1002;
  }

  .nav_links {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background: var(--bg-white-0);
    flex-direction: column;
    padding: 2rem;
    border-bottom: 1px solid var(--stroke-soft-200);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  }

  .nav_links.active {
    display: flex;
    z-index: 1001;
  }

  .nav_action_buttons {
    display: none;
    position: fixed;
    top: calc(60px + 180px); /* Adjust based on nav_links height */
    left: 0;
    width: 100%;
    background: var(--bg-white-0);
    flex-direction: column;
    padding: 0 2rem 2rem;
    row-gap: 1rem;
  }

  .nav_action_buttons.active {
    display: flex;
    z-index: 1001;
  }

  .logo_link_container {
    width: 100%;
    justify-content: flex-start;
  }
}
