.web_nav {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--bg-white-0);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--stroke-soft-200);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav_content_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 90rem;
  align-items: center;
  justify-content: space-between;
}

.logo_link_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2.5rem;
}

.nav_logo {
  width: 8rem;
  height: auto;
  display: flex;
  align-items: center;
}

.nav_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav_links {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
}

.nav_link {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-sub-600);
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  transition: color 0.2s ease;
}

.nav_link:hover {
  color: var(--text-strong-950);
}

.nav_link .material-symbols-outlined {
  font-size: 1.25rem;
}

.nav_action_buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
}

.api_page_link {
  text-decoration: none;
}

