@import url("../../styles/fonts.css");
@import url("../../styles/tokens.css");

:root {
  --font-family: "MADE TOMMY", system-ui, -apple-system, sans-serif;
  --font-accent: "Taprom", system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.merchant_kyc_flow {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 0.5rem;
  background-color: var(--bg-weak-50);
  align-items: center;
  justify-content: center;
}

.overview_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.sidebar {
  width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white-0);
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.top_section,
.buttom_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
}

.company_name_content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-bottom: 1px solid var(--bg-weak-50);
}

.company_logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.company_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top_section_title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-strong-950);
}

.top_section_slogan {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-soft-400);
}

.nav_contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.nav_content_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.nav_main_title {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.75rem 1.25rem;
}

.nav_main_title p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-soft-400);
}

.nav_main_links {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.active_tab {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.active_tab .tab-link {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--bg-weak-50);
}

.active_tab .tab-link p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-strong-950);
}

.active_tab .tab-link:hover {
  cursor: pointer;
}

.indicator {
  width: 0.5rem;
  height: 0.5rem;
}

.indicator img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inactive_tab {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.inactive_tab .tab-link {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--bg-white-0);
}

.inactive_tab .tab-link p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-soft-400);
}

.inactive_tab .tab-link:hover {
  cursor: pointer;
  background-color: var(--bg-weak-50);
}

.user_content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid var(--bg-weak-50);
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-white-0);
}

.page_title {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom: 1px solid var(--bg-weak-50);
}

.title_summary {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
}

.page_title_bg {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-strong-950);
}

.page_title_sm {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-soft-400);
}
