@import url("fonts.css");
@import url("tokens.css");

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --font-family: "MADE TOMMY", system-ui, -apple-system, sans-serif;
  --font-accent: "Taprom", system-ui;

  /* COLORS */
  --mainBgColor: #f5f7fa;
  --bgColor: #ffffff;
  --mainBlack: #0e121b;
  --lightText: #99a0ae;
  --mediumBlack: #525866;
  --borderColor: #e8ebef;
  --cardHBg: #fafafa;
  --progressColor: #e1e4ea;
  --dowColor: rgba(0, 0, 0, 0.08);
  --pinkColor: #fb4ba3;
  --greenColor: #57d090;
  --blueColor: #7d52f4;

  /* TYPOGRAPHY */
  --smallFontSize: 0.75rem;
  --mediumFontSize: 0.875rem;
  --normalFontSize: 1rem;
  --bigFontSize: 1.125rem;
  --mediumFontWeight: 500;
  --semiboldFontWeight: 600;
  --boldFontWeight: 700;
  --letterSpacing-small: -1px;
  --letterSpacing-medium: -0.5px;
  --letterSpacing-normal: -0.85px;
  --lineHeight-medium: 20px;
  --lineHeight-big: 24px;
  --letterSpacing-small: -1px;
  --letterSpacing-medium: -0.5px;
  --letterSpacing-normal: -0.85px;

  /* SPACING */
  --spacing3: 0.65rem;
  --spacing: 0.25rem;
  --spacing1: 0.5rem;
  --spacing2: 0.75rem;
  --spacing4: 1rem;

  /* SHADOW VARIABLES */
  --offsetX: 0;
  --offsetY: 2px;
  --dowBlur: 4px;
  --dowSpread: 2px;
  --dowColor: rgba(0, 0, 0, 0.08);

  /* CLAMP VARIABLES */
  --minimumSize: 1rem;
  --maximumSize: 1.5rem;
  --clampVariable: clamp(var(--minimumSize), 1rem + 0.25vw, var(--maximumSize));
  --clampVariable2: clamp(1.25rem, 1rem + 0.5vw, 2rem);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: var(--spacing4);
  background-color: var(--mainBgColor);
  padding: var(--spacing);
}

/* Sidebar Section */
.side-bar {
  width: 22%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: var(--spacing4);
  background-color: var(--bgColor);
  border-radius: var(--spacing2);
}

.items-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing4);
}

.sidebar-top-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing4) var(--spacing) var(--spacing4) 0;
  border-bottom: 1px solid var(--borderColor);
}

.logo-name-slogan {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.privy-logo {
  width: 4rem;
  height: 3rem;
}

.privy-logo img {
  width: 100%;
  height: 100%;
}

.name-and-slogan {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing1);
}

.name-and-slogan h3 {
  font-size: var(--spacing4);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 500; /* Medium */
  color: var(--mainBlack);
}

.name-and-slogan p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.title-icon {
  width: fit-content;
  height: auto;
  padding: 1px 4px;
  border: 1px solid var(--borderColor);
  border-radius: var(--spacing1);
  box-shadow: 0 0 var(--dowBlur) var(--dowColor);
}

.nav-contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing1);
  padding-bottom: 20rem;
}

.nav-cont-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing4);
}

.nav-cont-title {
  width: fit-content;
  height: auto;
}

.nav-cont-title p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 500; /* Medium */
  color: var(--lightText);
}

.main-nav-links {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing1);
}

.inactive_tab {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing2);
  text-decoration: none;
  padding: 0.65rem 0;
}

.inactive_tab:focus {
  padding: 0.65rem var(--spacing1) 0.65rem 0;
  background-color: #f0f3f8;
  border-radius: var(--spacing2);
}

.inactive_tab .tab-link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing2);
}

.inactive_tab .tab-link span {
  font-size: 20px;
  color: var(--mediumBlack);
}

.inactive_tab .tab-link p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.active_tab {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing2);
  text-decoration: none;
  padding: 0.65rem var(--spacing1) 0.65rem 0;
  background-color: #f0f3f8;
  border-radius: var(--spacing2);
}

.active_tab .tab-link {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tab-link .api-icon-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing2);
}

.active_tab .tab-link span {
  font-size: 20px;
  color: var(--mainBlack);
}

.api-icon-text p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mainBlack);
}

.indicator {
  width: 0.5rem;
  height: 0.5rem;
}

.indicator img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.business-verified-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing2);
  background: #e9f9f0;
  border: 1px solid #1fc16b;
  padding: var(--spacing1);
  border-radius: var(--spacing2);
  margin-top: var(--spacing2);
}

.business-verified-card span {
  padding: var(--spacing2);
  background-color: var(--bgColor);
  border-radius: 1000rem;
  font-size: 20px;
  color: #1fc16b;
}

.business-verified-card p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mainBlack);
}

.user-content-sec {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing2) var(--spacing) 0 var(--spacing);
  border-top: 1px solid var(--borderColor);
}

.avatar-details {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: var(--spacing1);
  align-items: center;
  justify-content: start;
}

.user-content-sec img {
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  background-color: #c0eaff;
}

.avatar-details .avatar-name-and-email {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: var(--spacing);
}

.avatar-name {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  column-gap: var(--spacing);
}

.avatar-name p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 500; /* Medium */
  color: var(--mainBlack);
}

.avatar-name span {
  color: #47c2ff;
  font-size: 16px;
}

.avatar-email {
  font-size: var(--smallFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.avatar-right-arrow {
  width: fit-content;
  height: auto;
}

.avatar-right-arrow span {
  font-size: 20px;
  color: var(--mediumBlack);
}

/*  Right Main Section */
.right-section {
  width: calc(100% - 22%);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
  padding: 1rem;
  background-color: var(--bgColor);
  border-radius: var(--spacing4);
}

/* Header Srction */
.top-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  padding-bottom: var(--spacing4);
}

.left-top-sec {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 var(--spacing2);
  row-gap: var(--spacing2);
}

.left-top-sec h1 {
  font-size: var(--clampVariable);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 500; /* Medium */
  color: var(--mainBlack);
}

.left-top-sec p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.notification-cont {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 0 var(--spacing4);
  cursor: pointer;
  background-color: var(--bgColor);
}

.notifcation-dot {
  margin-left: -0.5rem;
  margin-top: -0.2rem;
}

/* Tabs */
.tabs-nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: calc(var(--spacing1) * 3);
  border-bottom: 1px solid var(--borderColor);
}

.tab-btn {
  border: none;
  outline: none;
  background-color: var(--bgColor);
  color: var(--lightText);
  font-size: var(--mediumFontSize);
  cursor: pointer;
  padding: var(--spacing4) 0;
  position: relative;
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
}

.tab-btn:hover {
  color: var(--mainBlack);
}

.tab-btn.active {
  color: var(--mainBlack);
}

.tab-btn.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--mainBlack);
}

/* Last Section */
.last-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: calc(var(--spacing4) * 2);
}

.left-last-sec {
  width: 78%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing1);
}

.top-last-sec {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing2);
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Privy Welcome Banner */
.welcome-banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing4);
  padding: var(--spacing2) 0 calc(var(--spacing2) * 2) var(--spacing4);
  border-bottom: 1px dashed var(--borderColor);
}

.banner-icon {
  border: 1px solid var(--borderColor);
  border-radius: 100px;
  padding: var(--spacing2) var(--spacing4);
}

.banner-texts {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing);
}

.banner-texts h2 {
  font-size: var(--normalFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 500; /* Medium */
  color: var(--mainBlack);
}

.banner-texts p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 300; /* Light */
  color: var(--mainBlack);
}

/* Webhook Section */
.webhooks {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing4);
  padding: var(--spacing1) var(--spacing4) var(--spacing4) 0;
  border-right: 1px solid var(--borderColor);
}

/* Webhook Configuration Section */
.webhook-configuration {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: calc(var(--spacing4) * 2);
  border-bottom: 1px dashed var(--borderColor);
  padding-bottom: calc(var(--spacing4) * 2);
}

.webhook-title {
  width: fit-content;
  height: auto;
}

.webhook-title p {
  font-size: var(--normalFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 500; /* Medium */
  color: var(--mainBlack);
}

.webhook-url {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing);
}

.webhook-url label {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mainBlack);
}

.input-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.input-wrapper span {
  width: fit-content;
  height: auto;
  border: 1px solid var(--borderColor);
  padding: var(--spacing3);
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: #babbbd;
  border-bottom-left-radius: var(--spacing2);
  border-top-left-radius: var(--spacing2);
  border-right: 0;
}

.input-wrapper input {
  width: 100%;
  height: auto;
  border: 1px solid var(--borderColor);
  padding: var(--spacing2);
  border-bottom-right-radius: var(--spacing2);
  border-top-right-radius: var(--spacing2);
  outline: none;
}

.input-wrapper input::placeholder {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: #babbbd;
}

.events-and-buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: calc(var(--spacing1) * 3);
}

.events-and-buttons p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.event-options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: var(--spacing4);
}

.event-option {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing);
}

.event-option span {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.event-buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing4);
}

.event-buttons button:first-of-type {
  padding: 0.65rem var(--spacing2);
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #171b34;
  color: var(--bgColor);
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  cursor: pointer;
}

.event-buttons button:first-of-type:hover {
  background-color: #3b3c41;
  color: var(--bgColor);
}

.event-buttons button:last-of-type {
  padding: 0.65rem calc(var(--spacing4) * 2);
  border-radius: 10px;
  border: 1px solid var(--borderColor);
  background-color: var(--bgColor);
  outline: none;
  color: var(--mediumBlack);
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  cursor: pointer;
}

.event-buttons button:last-of-type:hover {
  background-color: var(--cardHBg);
}

/* Test Webhook Delivery Section */
.test-webhook-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: calc(var(--spacing4) * 2);
  padding: var(--spacing4) 0 calc(var(--spacing4) * 2);
  border-bottom: 1px dashed var(--borderColor);
}

.tw-title {
  font-size: var(--normalFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 500; /* Medium */
  color: var(--mainBlack);
}

.tw-subtitle {
  font-size: var(--normalFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.event-type {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing1);
}

.event-text {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mainBlack);
}

.event-dropdown {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing2);
  border: 1px solid var(--borderColor);
  border-radius: var(--spacing2);
}

.event-dropdown:hover {
  background-color: var(--cardHBg);
}

.event-dropdown p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.event-test-result {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing2);
}

.etr-text,
.ert-checkbox span {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.ert-checkbox {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing1);
}

.response-time,
.time-stamp {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing);
}

.response-time p,
.time-stamp p {
  font-size: var(--normalFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--lightText);
}

.response-time span,
.time-stamp span {
  font-size: var(--normalFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mainBlack);
}

/* Code Section */
.code-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing4);
  padding: var(--spacing4);
  margin: var(--spacing4) 0;
  box-shadow: var(--offsetX) var(--offsetY) var(--dowBlur) var(--dowColor);
  border-radius: var(--spacing2);
  background-color: var(--cardHBg);
}

.code-text {
  font-size: var(--mediumFontSize);
  font-family: "DM Mono", monospace;
  color: var(--lightText);
}

.rb-code-and-copy {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgColor);
  padding: calc(var(--spacing2) * 2) var(--spacing4);
  box-shadow: var(--offsetX) var(--offsetY) var(--dowBlur) var(--dowColor);
  border-radius: var(--spacing2);
}

.rb-first-code,
.first-code-line,
.second-code-line {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: var(--spacing1);
}

.rb-first-code p {
  font-size: var(--smallFontSize);
  font-family: "DM Mono", monospace;
  color: var(--pinkColor);
}

.rb-first-code span {
  font-size: var(--smallFontSize);
  font-family: "DM Mono", monospace;
  color: var(--blueColor);
}

.rb-second-code {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--bgColor);
  padding: calc(var(--spacing2) * 2) var(--spacing4);
  box-shadow: var(--offsetX) var(--offsetY) var(--dowBlur) var(--dowColor);
  border-radius: var(--spacing2);
}

.code-bracket {
  font-size: var(--smallFontSize);
  font-family: "DM Mono", monospace;
  color: var(--lightText);
}

.first-code-line p,
.second-code-line p {
  font-size: var(--smallFontSize);
  font-family: "DM Mono", monospace;
  color: var(--pinkColor);
}

.first-code-line span {
  font-size: var(--smallFontSize);
  font-family: "DM Mono", monospace;
  color: var(--lightText);
}

.second-code-line span {
  font-size: var(--smallFontSize);
  font-family: "DM Mono", monospace;
  color: var(--greenColor);
}

.last-rb-text {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: var(--spacing4);
}

.last-rb-text p,
.last-rb-text span {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

/* Ready To Integrate Section */
.recent-webhook-deliveries {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing4);
  padding: var(--spacing4) 0;
}

.rwd-title {
  width: fit-content;
  height: auto;
}

.rwd-title p {
  font-size: var(--normalFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 500; /* Medium */
  color: var(--mainBlack);
}

.search-filter-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing4) 0;
}

.search-records {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: var(--spacing1);
  border: 1px solid var(--borderColor);
  padding: var(--spacing2);
  border-radius: var(--spacing2);
}

.search-records input {
  border: none;
  padding-right: calc(var(--spacing4) * 12);
  outline: none;
}

.search-records input::placeholder {
  font-size: var(--smallFontSize);
}

.filter {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing1);
  border: 1px solid var(--borderColor);
  padding: var(--spacing3) var(--spacing2);
  border-radius: var(--spacing2);
  cursor: pointer;
}

.filter:hover {
  background-color: var(--cardHBg);
}

.filter p {
  font-size: var(--mediumFontSize);
  color: var(--mediumBlack);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
}

.rwd-table {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid var(--borderColor);
  box-shadow: var(--offsetX) var(--offsetY) var(--dowBlur) var(--dowColor);
  border-radius: var(--spacing2);
  background-color: var(--cardHBg);
}

.table-item {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 2fr 1fr 2fr 0.5fr;
  justify-content: start;
  align-items: center;
}

.title {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mainBlack);
  padding: calc(var(--spacing2) * 2) var(--spacing4);
}

.other-bg {
  padding: var(--spacing2) var(--spacing4);
}

.white-bg {
  background-color: var(--bgColor);
  padding: var(--spacing2) var(--spacing4);
}

.other-text {
  font-size: var(--smallFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.status {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.35rem var(--spacing3);
  background-color: #e0faec;
  border-radius: 0.45rem;
  column-gap: 0.35rem;
}

.status span {
  font-size: var(--smallFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: #1fc16b;
}

.rwd-bottom-sec {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.rwd-bottom-sec p {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: var(--mediumBlack);
}

.rwd-btm-text {
  padding-top: var(--spacing3);
}

.num-movements {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing4);
}

.numbers {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing2);
}

.active-number {
  background-color: var(--cardHBg);
  padding: var(--spacing1) 0.85rem;
  border: 1px solid var(--borderColor);
  border-radius: var(--spacing2);
}

.inactive-number {
  padding: var(--spacing1) var(--spacing2);
  border: 1px solid var(--borderColor);
  border-radius: var(--spacing2);
  background-color: var(--bgColor);
}

.numbers p:last-of-type {
  padding: var(--spacing1) var(--spacing3);
}

.tab-num-dropdown {
  border: 1px solid var(--borderColor);
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing2);
  padding: var(--spacing1);
  border-radius: var(--spacing1);
  margin-top: 0.15rem;
}

/* Right Mid Section */
.right-mid-sec {
  width: 22%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--spacing4);
  padding-top: calc(var(--spacing4) * 2);
}

.icon-and-heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing1);
}

.icon-and-heading p {
  font-size: var(--mediumFontSize);
  color: var(--mainBlack);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
}

.right-mid-sec a {
  font-size: var(--mediumFontSize);
  font-family: "MADE Tommy", sans-serif;
  font-weight: 400; /* Regular */
  color: #686d79;
  text-decoration: none;
}
