@import url('fonts.css');
@import url('tokens.css');

:root {
    --font-family: 'MADE TOMMY', system-ui, -apple-system, sans-serif;
    --font-accent: 'Taprom', system-ui;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

.body_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.web_nav{
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: var(--bg-white-0);
    display: flex;
    align-items: center;
}

.nav_content_container {
  display: flex;
  flex-direction: row;
  min-width: 64rem;
  max-width: 64rem;
  align-items: center;
  justify-content: space-between;
}

.logo_link_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;
}

.nav_logo{
    width: 5rem;
    height: auto;
}

.nav_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav_links{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
}

.nav_link{
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-sub-600);
    text-decoration: none;
}

.nav_link:hover{
    color: var(--text-strong-950);
    transition: ease-in-out 0.2s;
}

.nav_action_buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;
}

.login_button{
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-sub-600);
    text-decoration: none;
}

.login_button:hover{
    color: var(--text-strong-950);
    transition: ease-in-out 0.2s;
}

.api_page{
    text-decoration: none;
}

.special_button{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-10, 0.625rem);
    border: 1px solid var(--linear-12, rgba(255, 255, 255, 0.12));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.00) 100%), var(--bg-strong-950, #0E121B);

    /* fancy-buttons/neutral */
    box-shadow: 0 1px 2px 0 rgba(27, 28, 29, 0.48), 0 0 0 1px #242628;
    color: var(--text-white-0);
    font-size: 1rem;
    font-weight: 400;
    padding: 0.65rem 1.25rem;
}

.bg_pattern{
    position: absolute;
    top: 0;
    left: 0;
    width: 68rem;
    height: auto;
    z-index: -1;
    object-fit: cover;
    pointer-events: none;
    opacity: 0.5;
}

.bg_pattern img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    row-gap: 1.5rem;
    text-align: center;
    position: relative;
    
}

.chip{
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 1rem;
    border: solid 1px var(--linear-12, rgba(255, 255, 255, 0.12));
    border-radius: 0.5rem;
}

.indicator_img{
    width: 0.8rem;
    height: auto;
}

chip p{
    font-size: 0.825rem;
    font-weight: 300;
    color: var(--text-sub-600);
}

.Page_Not_Found{
    font-size: 6rem;
    font-weight: 700;
    color: var(--text-strong-950);
}

.error_message{
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--text-sub-600);
    max-width: 30ch;
}

.home_link{
    text-decoration: none;
}



